@charset "UTF-8";
html {
  overflow: unset !important;
  height: 100%;
  font-size: 14px;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

fieldset,
img {
  border: 0;
}

:focus {
  outline: 0;
}

address,
caption,
cite,
code,
dfn,
i,
th,
var,
optgroup {
  font-style: normal;
  font-weight: normal;
}

input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

input,
button {
  font: 12px "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", arial, helvetica, "sans-serif";
  vertical-align: middle;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}

a,
button {
  cursor: pointer;
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

code,
kbd,
samp,
tt {
  font-size: 100%;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  /*border-spacing: 0;*/
}

caption,
th {
  text-align: left;
}

sup,
sub {
  font-size: 100%;
  vertical-align: baseline;
}

:link,
:visited,
ins {
  text-decoration: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

html body {
  border: 0;
  color: #484848;
  background-color: #f4f4f4;
  margin: 0;
  height: calc(100% - 60px);
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  margin: 0;
  padding: 0;
}

button {
  border: 0;
}

legend,
caption {
  display: none;
}

a:link,
a:visited {
  color: #2E82FF;
  text-decoration: none;
}
body a{
  color: #2d73e5;
}
body a:hover,
body a:active {
  color: #2d73e5;
  text-decoration: none;
}

img {
  -ms-interpolation-mode: bicubic;
}
body p {
  margin: 0;
}
input[type=checkbox], input[type=radio] {
  margin: 0;
}
body input::-webkit-contacts-auto-fill-button {
  display: none !important;
  width: 0;
  height: 0;
}
.dpflex {
  display: flex;
  display: -webkit-flex;
}
.wline1 {
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  display: block;
}
.wline2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.wline3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.hd-btn{
  cursor: pointer;
  color: #2E82FF;
}
.blue-t {
  color: #2E82FF;
}
.big-t {
  font-family: PingFang-SC-Medium;
  font-weight: bold;
  font-size: 24px;
  color: #333333;
  letter-spacing: -1.39px;
  text-align: center;
}
